rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Default open access: Allows all reads and writes.
    // Security should be handled in application logic.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
