@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 352 81% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 98%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 352 81% 51%;
    --chart-1: 0 0% 0%;
    --chart-2: 0 0% 56%;
    --chart-3: 0 0% 63.9%;
    --chart-4: 0 0% 90%;
    --chart-5: 0 0% 36%;
    --radius: 0rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 0 0% 9%;
    --sidebar-primary: 352 81% 51%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 92%;
    --sidebar-accent-foreground: 0 0% 9%;
    --sidebar-border: 0 0% 89.8%;
    --sidebar-ring: 352 81% 51%;
  }
  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;
    --primary: 352 81% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 6.7%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 6.7%;
    --muted-foreground: 0 0% 80.4%;
    --accent: 0 0% 6.7%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 352 81% 51%;
    --chart-1: 0 0% 100%;
    --chart-2: 0 0% 10.6%;
    --chart-3: 0 0% 40%;
    --chart-4: 0 0% 15%;
    --chart-5: 0 0% 83.9%;
    --sidebar-background: 0 0% 6.7%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 352 81% 51%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 10.6%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 20%;
    --sidebar-ring: 352 81% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
    .path-animate {
        animation: draw-path 3s ease-out forwards;
        animation-delay: 0.5s;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
    }

    .plane-animate {
        offset-path: path("M -350 20 C -250 -100, 250 100, 350 -20");
        animation: fly-plane 3s ease-out forwards;
        animation-delay: 0.5s;
        opacity: 0;
    }

    @keyframes draw-path {
        to {
            stroke-dashoffset: 0;
        }
    }

    @keyframes fly-plane {
        0% {
            offset-distance: 0%;
            opacity: 1;
        }
        90% {
             opacity: 1;
        }
        100% {
            offset-distance: 100%;
            opacity: 1;
        }
    }
}
